body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.navbar {
  display: flex;
  gap: 2rem;
}
li {
  white-space: nowrap;
  margin-bottom: 10px;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0%;
  text-align: center;
}

.login, .register {
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.login-wrapper, .register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.login-btn, .register-btn {
  width: 5rem;
  align-self: center;
}
.login-invalid {
  color: rgb(202, 29, 29);
  text-align: center;
}

.register-link {
  color: rgb(70, 70, 209)
}

#email, #password {
  margin-bottom: 1rem;
}

.feed {
  display: flex;
  justify-content: center;
  text-align: center;
}

.feed-task {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;

}

.create-wrapper {
  display: flex;
  justify-content: center;
}
.create-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid black;
}

#create-name, #create-descrip, #create-completed {
  margin-bottom: 10px;
}

#create-descrip {
  min-height: 150px;
  max-width: 300px;
}

.create-submit {
  width: 100px;
  align-self:center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-lists {
  display: flex;
  justify-content: space-around;
  width: 50%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  margin-top: 25px;
}

.features-wrapper, .tech-wrapper {
  font-size: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-header {
  font-size: 25px;
  margin: 0 0 10px 0;
}
